/* Main SCSS */

//Imports

// Utils files
@import "utils/all";

// Base files
@import "base/all";

// Components
@import "components/all";

// Layout
@import "layout/all";

// Vendors
@import "vendors/all";

// Pages
@import "pages/all";

@media all {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  //  Activation de box-sizing
  .box {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  h1,
  h2 {
    font-family: "Shrikhand", cursive;
  }

  p {
    font-family: "Roboto", sans-serif;
  }

  a {
    text-decoration: none;
    color: black;
  }

  @media all {
  }

  @media (min-width: 992px) {
  }

  @media (min-width: 768px) and (max-width: 992px) {
  }

  @media (max-width: 767px) {
  }
}
