/* menu4 SCSS */

.header {
  @import "../layout/header";
}

.footer {
  @import "../layout/footer";
}

.body-color {
  background-color: $map-bgdclr;
}

// Hero
.hero_img {
  height: 15em;
  width: 100%;
  position: relative;
  overflow: hidden;
  & img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    transform: scale(0.11);
  }
}

// Menu

.menu4 {
  &_menu {
    transform: translate(0px, -30px);
    background-color: $map-bgdclr;
    border-radius: 30px 30px 0 0;
    & h1 {
      font-size: 1.7em;
      font-weight: 50;
      margin: 35px 0 0 30px;
    }
  }

  &_container {
    margin: 45px 20px 25px 20px;
    & h2 {
      @include typo-menu;
    }
  }

  &_line {
    height: 3px;
    width: 11%;
    background-color: $mint;
    border: none;
  }

  &_card {
    min-height: 65px;
    width: 90%;
    min-width: 340px;
    background-color: $white;
    border-radius: 10px;
    margin: 15px 0 15px 0;
    box-shadow: 0px 15px 10px -15px $box-shadow;
    & h3 {
      @include typo-btn($black);
      font-size: 1.1em;
      margin: 0 0 10px 10px;
      border-style: none;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    & p {
      @include typo-menu;
      max-width: 280px;
      margin-left: 10px;
      border-style: none;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

#price41 {
  transform: translate(135px, 15px);
  font-weight: 400;
  width: 100%;
}

#price42 {
  transform: translate(20px, 15px);
  font-weight: 400;
  width: 100%;
}

#price43 {
  transform: translate(135px, 15px);
  font-weight: 400;
  width: 100%;
}

#price44 {
  transform: translate(-10px, 15px);
  font-weight: 400;
  width: 100%;
}

#price45 {
  transform: translate(90px, 15px);
  font-weight: 400;
  min-width: 100%;
}

#price46 {
  transform: translate(100px, 15px);
  font-weight: 400;
  width: 100%;
}

#price47 {
  transform: translate(85px, 15px);
  font-weight: 400;
  width: 100%;
}

#price48 {
  transform: translate(155px, 15px);
  font-weight: 400;
  width: 100%;
}

#price49 {
  transform: translate(175px, 15px);
  font-weight: 400;
  width: 100%;
}

.fa-heart {
  transform: translate(30px, 15px);
}

.center {
  transform: translate(75px, 0px);
}

.no-display {
  @include no-display;
}

.display {
  @include display;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}
