/* Mixins */

/* Fonts */
@mixin typo-txt($color: $black) {
  color: $color;
  font-family: $txt_font_family;
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 1.3;
}

@mixin typo-titles($color: $black) {
  color: $color;
  font-family: $txt_font_family;
  font-size: 1.5rem;
  font-weight: bold;
}

@mixin typo-btn($color: $white) {
  color: $color;
  font-family: $txt_font_family;
  font-size: 1rem;
  font-weight: 0;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
