/* Mixins */

/* Fonts */
@mixin typo-txt($color: $black) {
  color: $color;
  font-family: $txt_font_family;
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 1.3;
}

@mixin typo-titles($color: $black) {
  color: $color;
  font-family: $txt_font_family;
  font-size: 1.5rem;
  font-weight: bold;
}

@mixin typo-btn($color: $white) {
  color: $color;
  font-family: $txt_font_family;
  font-size: 1rem;
  font-weight: 0;
}

@mixin typo-logo($color: $white) {
  color: $color;
  font-family: $titles_font_family;
  font-size: 1.1rem;
}

@mixin typo-menu($color: $black) {
  color: $color;
  font-family: $txt_font_family;
  font-size: 1rem;
  font-weight: 300;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin flag {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 6em;
  background-color: $mint;
  color: $mint_txt;
  font-size: 0.9em;
  font-weight: bold;
  border-radius: 2px;
}

@mixin inactiveLink {
  pointer-events: none;
  cursor: default;
}

@mixin no-display {
  display: none;
  &:hover {
    display: inline-flex;
  }
}

@mixin display {
  &:hover {
    display: none;
  }
}
