/* Variables */

/* font-family */
$titles_font_family: "Shrikhand", cursive;
$txt_font_family: "Roboto", sans-serif;

/* Colors */
$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;
$black: #000;
$white: #fff;
$shadow: #999;

// Header
$map-bgdclr: #eaeaea;
$map-txtclr: #4b4b4b;

// Home
$background-hero: #f6f6f6;
$hover-btn: #f5edff;
